<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/a4b36849-eda6-4525-b8e7-e37ba205a3d2/resourcegroups/stonepay/providers/Microsoft.ContainerRegistry/registries/stoneapi</ResourceId>
    <ResourceName>stoneapi</ResourceName>
    <ResourceGroup>stonepay</ResourceGroup>
    <Subscription>Azure para Estudantes</Subscription>
    <RegistryUrl>https://stoneapi.azurecr.io/</RegistryUrl>
    <UserName>stoneapi</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2eecf10a-1a1b-42cd-8ccb-4f74712b5fba</ProjectGuid>
  </PropertyGroup>
</Project>